<div class="container-fluid navbar">
    <nav class="navbar-body">
        <a routerLink="" class="col-lg-3"><img
                src="../../../assets/img/logo.png" class="logo"></a>
        <div class="col-lg-9 nav-link">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="blog">Blog</a></li>
                <li><a routerLink="clients">Clients</a></li>
                <li><a routerLink="service">Service</a></li>
                <li><a routerLink="contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>