<div class="contact-us">
    <div class="overly"></div>
    <div class="container">
        <h2>Contact Us</h2>
        <h3>sales@stelltechnology.com</h3>
        <form action="">
            <div class="left">
                <input type="text" name="username" placeholder="Name" id="">
                <input type="phone" name="phone" placeholder="Phone" id="">
                <input type="email" name="email" placeholder="Email" id="">
                <input type="text" name="subject" placeholder="Enter your subject" id="">
            </div>
            <div class="right">
                <textarea name="message" id="" placeholder="Message"></textarea>
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
</div>
<section id="navbar-top">
    <nav id="nav-bartop" class=" navbar-dark bg-dark">
        <div class="nav-position-rel container">
            <i class="bi icon-nav-hom bi-telephone me-1"></i>
            <span class="nav-t navbar-brand me-3">(012) 541 04 52</span>
            <i class="bi icon-nav-sms bi-envelope me-1"></i>
            <span class="nav-t navbar-brand">sales@stelltechnology.com</span>
            <span class="nav-top-icon">
                <i class="bi icon-nav-fb bi-facebook me-1"></i>
                <i class="bi icon-nav-wb bi-whatsapp me-1"></i>
                <i class="bi icon-nav-inst bi-instagram me-1"></i>
            </span>
        </div>
    </nav>
</section>