<div class="container-fluid main">
    <div class="main-body">
        <h1 class="mb-3">Company overview</h1>
        <div class="main-item">
            <p>Stell Technology commenced business in May 2004 as the pioneer ICT distributor in Azerbaijan and currently represents
                the world’s leading manufacturers: APC, Cisco, Canon, Epson, NetApp, HPE, HP and etc.</p>
        </div>
        <div class="main-item">
            <p>Our vision is to become the key driver of technology revolution across Azerbaijan, while our mission is to make ICT
                products accessible, affordable and usable across country.</p>
        </div>
        <div class="main-item">
            <p>Stell Technology offers a wide range of equipment and services such as servers, integrated systems,software,networking, storage and etc.
                All the equipment supplied by the company is covered by warranty and support from a reliable service center.
            </p>
        </div>
    </div>
</div>